<ion-tabs>
  <!--
    The starter template's Tab 1 / Tab 2 / Tab 3 bar shipped as-is: three
    placeholder labels pointing at /tabs/tab1..3, routes that were commented out
    of tabs-routing.module.ts and have never existed. It sat at the bottom of
    every screen in the app. These are the two destinations that are actually
    routed.
  -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="patients" href="/tabs/patients">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Patients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress-note" href="/tabs/progress-note">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>Note</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-patient" href="/tabs/add-patient">
      <ion-icon aria-hidden="true" name="person-add-outline"></ion-icon>
      <ion-label>New patient</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
