<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="patients" href="/tabs/patients">
      <ion-icon aria-hidden="true" [icon]="peopleOutline"></ion-icon>
      <ion-label>Patients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="today" href="/tabs/today">
      <ion-icon aria-hidden="true" [icon]="calendarOutline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress-note" href="/tabs/progress-note">
      <ion-icon aria-hidden="true" [icon]="createOutline"></ion-icon>
      <ion-label>Note</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon aria-hidden="true" [icon]="chatbubblesOutline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" href="/tabs/more">
      <ion-icon aria-hidden="true" [icon]="ellipsisHorizontalCircleOutline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
