<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="patients" href="/tabs/patients">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Patients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="today" href="/tabs/today">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress-note" href="/tabs/progress-note">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>Note</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon aria-hidden="true" name="chatbubbles-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" href="/tabs/add-patient">
      <ion-icon aria-hidden="true" name="ellipsis-horizontal-circle-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
