<nav class="navbar" *ngIf="authService.isLoggedIn()">
  <ul class="nav-list">
    <!-- Section Home -->
    <li class="nav-item dropdown">
      <a routerLink="/home">Home</a>
  <div class="dropdown-menu">
    <div class="dropdown-section">
      <span>Section Dashboard</span>
      <a routerLink="/home">Home</a>
      <a routerLink="/admin-dashboard">Tableau de bord Admin</a>
      <a routerLink="/clinical-dashboard">Tableau de bord Clinique</a>
    </div>
        <div class="dropdown-section">
          <span>Section Module</span>
          <a routerLink="/poc">POC</a>
          <a routerLink="/emar">eMar</a>
        </div>
        <div class="dropdown-section">
          <span>Section External Links</span>
          <a routerLink="/allLink">Voir tous les liens externes</a>
          <a routerLink="/autres">Autres</a>
        </div>
      </div>
    </li>

    <!-- Section Administrator -->
    <li class="nav-item dropdown">
      <a>Administrator</a>
      <div class="dropdown-menu">
        <div class="dropdown-section">
          <span>Section People</span>
          <a routerLink="/patientList">Patients</a>
          <a routerLink="medicaux">Professionnels Médicaux</a>
        </div>
        <div class="dropdown-section">
          <span>Section Actions</span>
          <a routerLink="/medicaux">Nouveau Professionnel</a>
        </div>
        <div class="dropdown-section">
          <span>Section Comptabilité</span>
          <a routerLink="/finance">Tableau de Bord</a>
          <a routerLink="/udaComp">UDA</a>
        </div>
        <div class="dropdown-section">
          <span>Section Other</span>
          <a routerLink="/rapport">Rapport</a>
        </div>
      </div>
    </li>

    <!-- Section Clinical -->
    <li class="nav-item dropdown">
      <a routerLink="/patientCli">Clinical</a>
      <div class="dropdown-menu">
        <div class="dropdown-section">
          <span>People</span>
          <a routerLink="/patientCli">Patients</a>
        </div>
        <div class="dropdown-section">
          <span>Actions</span>
          <a routerLink="/home">Quick ADT</a>
          <a routerLink="/AddPatient">New Resident</a>
          <a routerLink="/medicaux">New Medical Professional</a>
        </div>
        <div class="dropdown-section">
          <span>Management Soin</span>
          <a routerLink="/dashbordCli">Dashboard</a>
          <a routerLink="/suiviHos">Hospital Tracking</a>
          <a routerLink="/mds">MDS</a>
          <a routerLink="/com">Communications</a>
          <a routerLink="/prescription">Orders</a>
          <a routerLink="/labo">Lab/Rx Results</a>
          <a routerLink="/risques">Risk Management</a>
          <a routerLink="/signes">Weights and Vitals</a>
          <a routerLink="/uda">UDA</a>
          <a routerLink="/infection">Infection Control</a>
        </div>
        <div class="dropdown-section">
          <span>Entrée Rapide</span>
          <a routerLink="/tharapy">Therapistes</a>
          <a routerLink="/VisiteMed">Visites Medicales</a>
          <a routerLink="/vaccination">Vaccination</a>
          <a routerLink="/poids">Poids</a>
          <a routerLink="/tension">TA</a>
          <a routerLink="/temperature">Temperature</a>
          <a routerLink="/pools">POOLS</a>
          <a routerLink="/respiration">Respiration</a>
          <a routerLink="/glucose">Glucose</a>
          <a routerLink="/saturation">O2 Saturation</a>
          <a routerLink="/douleur">evaluation douleur</a>
        </div>
        <div class="dropdown-section">
          <span>Modules</span>
          <a routerLink="/poc">POC</a>
          <a routerLink="/emar">eMAR</a>
        </div>
        <div class="dropdown-section">
          <span>Other</span>
          <a routerLink="/rapport">Reports</a>
        </div>
      </div>
    </li>

    <!-- Section Report -->
    <li class="nav-item dropdown">
      <a routerLink="/rapport">Report</a>
      <div class="dropdown-menu">
        <div class="dropdown-section">
          <span>Rapports Disponibles</span>
          <a routerLink="/rfinance">Rapport Financier</a>
          <a routerLink="/rclinique">Rapport Clinique</a>
          <a routerLink="/rqualite">Rapport de Qualité</a>
        </div>
      </div>
    </li>
  </ul>
</nav>