.navbar {
  background-color: #004c8c; // Couleur principale
  padding: 10px;

  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;

    .nav-item {
      position: relative;
      margin-right: 20px;

      a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        display: block;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #005fa3;
          color: #e6f2ff;
        }
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #e6f2ff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 10px;
        width: 250px;
        z-index: 1000;

        .dropdown-section {
          margin-bottom: 10px;
        
          span {
            font-weight: bold;
            color: #004c8c;
            display: block;
            margin-bottom: 5px;
          }
        
          a {
            color: #333;
            text-decoration: none;
            padding: 5px;
            display: block;
        
            &:hover {
              background-color: #cce0ff;
            }
          }
        }
     }

      &:hover .dropdown-menu {
        display: block;
      }
    }

    .user-info {
      font-weight: bold;
    }

    .nav-item-right {
      margin-left: auto;
      padding-left: 20px;
    }

    .logout-btn {
      background-color: #e60000;
      border: none;
      color: #fff;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #cc0000;
      }
    }
  }
}
