*,
*::before,
*::after{
    --bg: #0a1428;
    --ponk: #be4b34;
    --lg: #16eac9;
    --fc:#5974f9;
    --white: #fff;

    
}


.card {
    background-color: var(--bg);
    border-radius: 10px;
    color: #fff;
  }
  
.card-body {
    padding: 1.5rem;
    
  }
  
.btn-info {
    background-color: #17a2b8;
    border: none;
    color: #be4b34;
    font-size: x-large;
    font-weight: 500;
  }
  
a {
    font-size: 0.9rem;
    color: #fff;
  }
  
.btn-info:hover {
    background-color: #be4b34;
    color: #fff;
    font-weight: 500;
    transition: .3s linear;
  }
  